<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search text</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="./static/assets/css/reset.css">
		<!-- 引入fonts -->
		<link rel="stylesheet" href="./static/assets/css/font-awesome.min.css">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="./static/assets/vendors/bootstrap/bootstrap.min.css">
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="./static/assets/css/main.css">
		<!-- 引入js -->
		<script src="./static/assets/vendors/_jquery/jquery-3.3.1.min.js"></script>
		<script src="./static/assets/vendors/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<!-- 定义头部 -->
	<div class="head">
		<div class="head-bg-img">
			<img src="./static/assets/img/head-bg.png" alt="">
		<div class="logo">
			<img src="./static/assets/img/logo-shadow.png" alt="">
		</div>
		</div>
		
	<!-- 定义导航条 -->
	<nav class="navbar navbar-default" role="navigation">
	<ul class="nav navbar-nav">
		<li><a href="/index">HOME</a></li>
		<li class="dropdown dropdown-bg">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					BROWSE
				</a>
					<ul class="dropdown-menu">
						<li><a href="/Browse_C">Commpound</a></li>
						<li><a href="/Browse_P">Pathway</a></li>
						<li><a href="/Browse_T">Target</a></li>
				</ul>
				
			</li>
		<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">SEARCH</a>
			<ul class="dropdown-menu">
					<li><a href="#">Text</a></li>
					<li><a href="./Search-Structure.html">Structure</a></li>
					<li><a href="#">Sequence</a></li>
					
			</ul>
		</li>
		<li><a href="./greeting">UPLOAD</a></li>
		<li><a href="#">REFERENCES</a></li>
		<li><a href="#">CITATION</a></li>
		<li><a href="#">HELP</a></li>
	</ul>
		
	</nav>
	</div>
<!-- 定义头部结束 -->
<!-- 定义头部结束 -->
<div class="content">
	<div class="title">
	<img src="./static/assets/img/PISMD Search Text.png" alt="">
</div>
<div class="search">
	<!-- <img src="./assets/img/search.png" alt=""> -->
	<form action="/search_result" method="get"><!---->
		<input type="text" name="search_text" id="search_text">
		<input type="submit" value=" " >
	</form>
</div>
<div class="remind">Try&nbsp;&nbsp;aspirin&nbsp;&nbsp;EGFR&nbsp;&nbsp;ABA analog&nbsp;&nbsp;Root  growth</div>
</div>

<script type="text/javascript">
    function Checktext()
    {
        if (document.from.text.value.length == 0 )
        {
            alert("搜索关键字不能为空！");
            document.from.text.focus();
            return false;
        }
        return true;
    }
</script>

<script type="text/javascript">
    //var oBox = document.getElementById("box");
   // var oContent = oBox.innerHTML;
    var testTxt = document.getElementById("search_text");
    alert(testTxt.innerHTML);
    testTxt.join('<span style="color;red;">'+val+'</span>>');
    //var oBtn = document.getElementById("btn");
    // oBtn.onclick = function(){
    //     var val = testTxt.value;
    //     var findText = oContent.split(val);
    //     oBox.innerHTML = findText.join('<span style="color:red;">' + val + '</span> ');
    // };

</script>
</body>
<script src="./static/assets/vendors/_jquery/jquery-3.3.1.min.js"></script>
<script>
	
</script>
</html>